
body{
    background-color: pink;
}

h2{
    text-align: center;
}
p {
margin: 5px 5px;
background-color: gray;
}

.button1, .button2{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.green{
    background-color: green;
}